{% extends 'base.html.twig' %}

{% block title %}Tof'Box{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="title center h3 mb-3 font-weight-normal">Réinitialiser son mot de passe</h1>
        <div class="form-wrap">
            <label for="inputPassword" class="sr-only">Mot de passe: </label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Nouveau mot de passe" required>
            <input type="password" name="repeatPassword" id="repeatPassword" class="form-control" placeholder="Répétez le mot de passe" required>
            <input type="hidden" name="token" value="{{ token }}">

            <p class="center">
                <button class="btn btn-lg btn-primary" type="submit">
                    Enregistrer
                </button>
            </p>
        </div>
    </form>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>

        $("button").on('click', function(e){
            
            if( $("#inputPassword").val() !== $("#repeatPassword").val() ){
                alert("Attention, le mot de passe de confirmation est différent du mot de passe !")
                e.preventDefault()
                return false;

            }
        })

    </script>


{% endblock %}