{% extends 'base.html.twig' %}

{% block title %}Tof'Box{% endblock %}

{% block body %}

<div class="terms-wrap">

<h1 class="center">Tof'Box<br>
Politique de confidentialité</h1>


<h2>Données recueillis</h2>

<p>Pour son fonctionnement, Tof'Box n'a pas besoin de beaucoup d'informations vous concernant dites sensible.<br>
Seul votre adresse e-mail et un mot de passe est nécessaire pour vous inscrire.</p>
<p>Pour autant nous nous devons de sécuriser vos données. Ainsi:</p>
<ul>
    <li>Votre e-mail ne sera pas visible par d'autres utilisateur, connecté ou non. Celui-ci sera utilisé à votre demande pour changer de mot de passe et au besoin de l'administration pour transmettre des informations de manière exceptionnelle.</li>
    <li>Votre mot de passe n'est connu que par vous. L'administration ne vous demandera jamais votre mot de passe.
</ul>

<h2>Choix qui s'offrent à vous concernant vos informations:</h2>
<ul>
    <li>Modifier les informations vous concernant, notamment votre e-mail et votre mot de passe.</li>
    <li>Clôturer votre compte à tout moment. Dans le cadre du droit à l'oublie vous avezla possibilité de supprimer votre compte et ainsi d'effacer toute trace de votre passage sur Tof'Box. Cette action est irréversible.</li>
</ul>


<p>En vous inscrivant sur Tof'Box, vous reconnaissez avec lu et accepter la présente politique de confidentialité.</p>



<p>Date d'entrée en vigueur: 1er Mai 2020.<br>
Dernière mise à jour le 1er Mai 2020.</p>

</div>

{% endblock %}
