{% extends 'base.html.twig' %}

{% block title %}Tof'Box{% endblock %}

{% block body %}

<div class="terms-wrap">


<h1 class="center">Tof'Box<br>Conditions d'utilisation</h1>

<h2>Merci d'utiliser Tof'Box</h2>

<p>Veuillez lire ces conditions attentivement. Pour toute question, n’hésitez pas à nous contacter.</p>

<h2>Notre service</h2>

<p></p>

<ul>
    <li>Respect du site et de son utilisation
    </li>
    <li>Respect du droit d'auteur. Créditez une photo qui ne nous appartient pas.
    </li>
    <li>Respect des autres, de leur contenu.
    </li>
    <li>Les commentaires doivent être respectueux et non offensant.
    </li>
    <li>Pas de contenu offensant ou discriminatoire.
    </li>
</ul>

<p>Vous êtes en droit et nous vous invitons à signaler un contenu qui vous paraît offensant ou qui ne respecte pas les conditions d'utilisation.
</p>

<p>Nous nous réservons le droit de supprimer ou de modifier le contenu utilisateur, ou de changer la manière dont il est utilisé sur Pinterest, pour quelque raison que ce soit.
    Cette règle concerne le contenu utilisateur dont nous pensons qu’il viole les présentes conditions.</p>

<p>
L'administration de Tof'Box se réserve le droit d'intervenir en cas de non respect des présentes conditions d'utilisation,
de la modification/suppression d'un commentaire ou d'une photo à la suppression définitive du compte utilisateur.
</p>

<h2>Inscription</h2>

<p>En vous inscrivant sur Tof'Box, vous reconnaissez avec lu et accepter les présentes conditions d'utilisation.</p>

<p>Date d'entrée en vigueur: 1er Mai 2020.<br>
    Dernière mise à jour le 1er Mai 2020.</p>
    

</div>


{% endblock %}
