header, footer {
    padding: 1em;
    background-color: teal;
    color: white;
}

* {
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: inherit;
}
.photo-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
figure{
    background-color: #fff;
    text-align: center;
}
figcaption{
    padding:0 1em 0.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.photo_view{
    height: 277px;
    width: 355px;
    object-fit: cover;
}
.profil_photo{
    width:30px;
}

figure img.photo_view{
    margin: 1em 1em 0.5em 1em;

}
body{
    background-color: #ebebdf;
    
}

.success{
    font-weight: bold;
    color:green;
    background: rgba(0, 128, 0, 0.2);
    padding: 0.5em;
    font-size:1.1em;
    text-align: center;
}

.error{
    font-weight: bold;
    color:red;
    background: rgba(255, 0, 0, 0.2);
    padding: 0.5em;
    font-size:1.1em;
    text-align: center;
}



#loader{
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}
#loaderModal{
    display: flex;
    align-items: center;
    justify-content: center;    
}
/* Modal Style */

.modal-wrap {}

.header-modal {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}
.header-modal section {
    display: flex;
}
.profil-modal{
    display: flex;
    align-items: center;
}
.action-modal{
    display: flex;
    align-items: center;
}
.action-modal a{
    padding: 1em;
    background-color:#f3f3f4;
    border-radius: 8px;
}

.action-modal a:hover{
    background-color: #e7e7e9;
}
.action-modal a:first-of-type{
    margin-right: 1em;
}

.header-modal h1, .header-modal p{
    margin: 0;
}
.header-modal img{
    vertical-align: middle;
    padding-right: 1em;

    height: 60px;
}
.photo_modal {
    width: 100%
}



 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 1em auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    border-radius: 7px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 