:root {
    /* --header-color: #008080; */
    --header-color: #57a99a;
    --catbg-color:#cccccc;
    --body-color: #eee;
    --other-color:#ffffff;
    --black-color: black;
    --white-color: white;
    /* --button-color:rgba(0, 128, 128, 0.8); */
    --button-color: #57a99a;
    /* --button-hover-color:rgba(0, 128, 128) */
    --button-hover-color: rgb(59, 116, 105);
    /* rgba(0, 128, 128) */
  }

* {
    box-sizing: border-box;
}
body{
   background-color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
a{
    color: inherit;
    text-decoration: inherit;
}
header, footer {
    background-color: var(--header-color);
    color: white;
}
footer{
    margin-top:3em;
    padding: 1em;
}
footer h2{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0;
    font-size: 2em;
}
footer h3{
    margin-top:0;
}

.title{
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    padding: 0.75em;
    color: #303030;
}


/* ------ GLOBAL RULE ------ */
.center{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.blue{
    color:blue;
}
.red{
    color:red;
}
.green{
    color:green;
}
.blue:hover{
    text-decoration: underline;
}
.relative{
    position: relative;
}
.sticky{
    position: sticky;
    bottom:0;
}
.block{
    display: block;
}
.hidden{
    display: none;
}

.mr-1{
    margin-right: 1em;
}
.main-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}
.content{
    flex:1;
}
.category_form label{
    text-transform: capitalize;
    padding:0 1em 0 0;
}

/* Nav */
nav{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    /* border-bottom: 2px solid var(--black-color) ; */
}
.nav_user{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding: 0.5em 1em;
}
.nav_log{
    display: flex;
    align-items: center;
font-size: 1.2em;
padding: 0.5em 1em;
}
.subnav{
    /* display: flex; */
    display: none;
    flex-direction: column;
    position: absolute;
    top: 83px;
    right: 0;
    z-index: 1;
    background-color: var(--header-color);
    box-shadow: -7px 7px 8px rgba(0, 0, 0, .5);
    font-size: 1em;
    border-bottom-left-radius: 7px;
}
.nav_user:hover .subnav {
    display: flex;
}
.subnav a{
    padding: 0.25em 0.5em;
}
.subnav a:hover{
    width:100%;
    text-align:center;
}
.subnav a:hover{
    background-color: var(--button-hover-color);
}
nav div a {
    align-self: center;
}
nav div:first-child{
    font-weight: bold;
    align-items: center;
}
.logo{  
    display: flex;
    padding: 0.5em;
}
.logo .logo_tofbox{ 
    width: 100px;
}
.logo h1{
    font-size:2em;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}


.nav_log_mobile a{
    align-items: center;
    font-size: 1.2em;
    padding: 0.5em 1em;
}
.nav-button{
    padding-right: 3.5em;
}
.nav-button, .nav_log_mobile{
    display: none;
}

/* Home Categories View */
#home_cat {
    /* background-color: var(--catbg-color); */
    /* border-bottom: 2px solid var(--black-color); */
    padding-top: 0.5em;
}
.item_cat{
    /* background-image: linear-gradient(to bottom, #75ebeb, #5dcfcf, #44b4b4, #2a9a9a, #008080);
    color:white;*/
    font-weight: bold; 
    width: 157px;
    border-radius: 7px;

    background:#069;
      -webkit-transform:skew(-30deg);
      -moz-transform:skew(-30deg);
      -o-transform:skew(-30deg);
      tranform:skew(-30deg);
    margin-left:2em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, .6);
    transition: scale 0.5s;
}
.item_cat:hover{
    scale: 1.1;
}
.droit{
    padding: 1em;
    height:100%;
    display:flex;
    text-align:center;
    margin: 0 auto;
    color:white;
    justify-content: center;
    background-color :transparent;
        -webkit-transform:skew(30deg);
      -moz-transform:skew(30deg);
      -o-transform:skew(30deg);
      tranform:skew(30deg);
  }
.item_cat a{
    align-self:center;
    margin:0 auto;
    white-space: nowrap;
}
div.item_cat:nth-child(4n+4){
    background-color: #5392B5;
  }
  
  div.item_cat:nth-child(4n+3){
    background-color: #58B6BF;
  }
  div.item_cat:nth-child(4n+2){
    background-color: #58BF8F;
  }
  div.item_cat:nth-child(4n+1){
    background-color: #53B56C;
  }
/* .item_cat div{
    padding: 1em;
} */

/* Show Photo View*/
.photo-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.photo-wrap figure {
    background-color: var(--white-color);
    text-align: center;
    height: 356px;
    width: 387px;
}
.photo-wrap figcaption{
    padding:1em 1em 0.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:38px;
}
.photo-wrap figcaption div{
    display: flex;
}
.photo-wrap figcaption div span{
    align-self: center;
}
.photo_view{
    height: 277px;
    max-width: 355px;
    object-fit: cover;
    object-position: bottom;
}
#cadre_photo{
    min-height: 277px;
    width: 355px;
    margin: 1em 1em 0.5em 1em; 
    display: flex;
    justify-content: center;
}
#cadre_photo .relative{
    align-self: center;
}
img.photo_view.portrait{
    object-fit: contain;
}
.figure_modal img{
    max-width: 100%;
}


.photo_title{
    position: absolute;
    bottom: 4px;

    /* bottom: 63px;
    left:1em; */
    color: var(--white-color);
    /* background-color: rgba(0,0,0,0.5); */
    width: 100%;
    display: none;
    /* padding: 0 1em; */
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 81%)
}
.profil_photo{
    width:30px;
    height: 38px;
    object-fit: contain;
}
.span_vertical_align{
    display: flex;
    align-items: center;
    padding-right: 1em;
}
.descr{
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}
.infos{
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}
.infos section{
    flex-basis: 500px;
}
.infos aside article{
border: 3px dashed var(--header-color);
padding: 1em;
margin: 1em;
/* width: 350px; */
width: 100%;
}
.show_category ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
}
.show_category ul li{
    padding-right: 1em;
}

.signal{
    text-align: right;
    padding: 1em;
    color:#a9a9a9;
}
.propos{
    display: flex;
    align-items: center;
}
.propos h3{
    padding-right: 1em;
}
.lasts {
    width: 75px;
}
.comment-block{
    border-bottom: 1px solid #ddd;
    padding-top: 1em ;
    position: relative;
}
.comment-block h4 {
    margin: 0;
}
.comment-block img {
    width: 50px;
    float:left;
    margin-right: 1em;
}
.comment{
    width: calc(100% - 70px);
    float: left;
    position: relative;
}
.comment_header{
    display: flex;
    justify-content: space-between;
}
.comment_header small{
    color: #a9a9a9;
}
.comment_action {
    position: absolute;
    right: 0;
    bottom: 0;
}
.comment_menu{
    position: absolute;
    bottom: -6px;
    right: -73px;
    background-color: rgba(0, 128, 128);
    padding: 0.5em;
    color: white;
    border-radius: 10px;
    display: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3)
}
textarea#comment {
    /* width:421px; */
    width: 100%;
    margin-bottom: 0;
}
#comment_textarea p:first-child{
    margin-bottom: 0;
}
#comment_textarea p:last-child{
    margin-top: 0;
    margin-right: 0.5em;
    text-align: right;
}
#comment_input {
    margin-top: 0;
}

/* Ajax Del Photo */
div.sticky {
    /* background-color: rgba(0,0,0,0.1); */
    background-color: rgba(255,255,255,1 );
    padding:0.5em 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.sticky a {
    padding: 1em;
    border-radius: 8px;
    background-color: #f3f3f4;
    font-weight: bold;
}
div.sticky a i{
    vertical-align: middle;
}
div.sticky a:hover{
    background-color: red;
    color: white;
}

/* UserProfil View */
.user-wrap{
    max-width: 1269px;
    margin: auto;
    text-align: center;
}
.profil_user{
    width:200px;
}
.profil_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user_action{
    position: absolute; 
    right: 2em;
    padding: 1em;
    text-align: left;
}
.actionzone{
    padding: 1em;
    border-radius: 7px;
    margin-bottom: 2em;
    border:3px solid #57a99a;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, .6)
}
.actionzone a{
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    background-color: #57a99a;
    padding: 1em;
    color: white;
    border-radius: 7px;
}
div.actionzone p a:hover{
    background-color: var(--button-hover-color);
    transform: scale(1.1);
    
}
.actionzone p:not(:last-child){
    margin-bottom: 3em;
}


.edit_position{
    position: absolute;
    left:370px;
    bottom:343px;
    background-color: white;
}
.del-position{
    position: absolute;
    left: 370px;
    top: 340px;
}
.follow{
    width:380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.follow a {
    display: flex;
    align-items: center;
}
.follow p{
    margin: 0;
}

.redzone{
    max-width: 300px;
    margin: auto;
    border-radius: 7px;
    padding: 0.5em;
    border:3px solid red;
    margin-bottom: 1em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, .6);
}
.redzone p a:hover{
    color: red;
}

/* User Photos View*/
.user_photos h1{
    margin: 3em;
}
.user_photos .user_action{
    top:7em;
}
.user_photos_wrap figure{
    margin-top: 1.5em ;
    margin-bottom: 1.5em;
}
.user_action_mobile{
    display: none;
}

/* Form View */
.form-wrap{
    max-width: 250px;
    margin: auto;
    background-color: rgba(0,0,0,0.1);
    padding:0.5em 1em;
    margin-bottom: 1em;
    border-radius: 7px;
}
#edit-wrap,#photo-edit-wrap ,#form-report-wrap{
    max-width: 350px;
}
#form-suggest-wrap{
    max-width: 270px;
}
#photo-edit-view{
    width: 60%;
}
#title input{
    width: 300px;
}
input, textarea{
    margin:0.5em 0;
    padding: 0.5em;
    resize: vertical;
  }
textarea{
    width: 300px;
    height: 100px;
}
#registration_form_agreeTerms{
    margin: 0;
}
#register_edit_photo_profil{
    padding: 0;
}
.terms-wrap{
    max-width: 1024px;
    margin: auto;
}
.btn {
    padding: 0.5em;
}
/* Success & Error Flashes  */
.success{
    font-weight: bold;
    color:green;
    background: rgba(0, 128, 0, 0.2);
    padding: 0.5em;
    font-size:1.1em;
    text-align: center;
}
.error{
    font-weight: bold;
    color:red;
    background: rgba(255, 0, 0, 0.2);
    padding: 0.5em;
    font-size:1.1em;
    text-align: center;
}
form ul li {
    color: red;
    list-style: none;
}
form ul{
    padding-left:0;
}

/* Main Loader & Modal Loader */
#loader{
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}
#loaderModal, #loaderModal2{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal Style */
/* .modal-wrap {} */
.header-modal {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}
.header-modal section {
    display: flex;
}
.profil-modal{
    display: flex;
    align-items: center;
}
#action-modal{
    display: flex;
    align-items: center;
}
.action{
    padding: 1em;
    background-color:#f3f3f4;
    border-radius: 8px;
    transition: transform .2s;
}
#unlike, .unfollow{
    background-color: var(--button-color);
    color:white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);

} 
#unlike:hover, #followAjax .unfollow:hover, #followModal.unfollow:hover{
    background-color:var(--button-hover-color);

}
a.action:hover{
    background-color: #e7e7e9;
    transform: scale(1.1);
}
.header-modal h1, .header-modal p{
    margin: 0;
    padding:0;
}
.header-modal img{
    vertical-align: middle;
    padding-right: 1em;
    height: 60px;
}
.figure_modal {
    text-align: center;
}
.photo_modal {
    width: 100%
}
img.photo_modal.portrait, img.photo_modal.square{
    max-height: 800px;
    width:initial;
}

 /* Admin button & Admin pages */
.admin {
    position: absolute;
    right: 2em;
    bottom: 3em;
}
.admin-wrap{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
table{
    margin:auto;
    border: 1px solid black;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 0.5em 1em;
  }
  thead {
      background-color: var(--header-color);
      color: white;
  }
  tbody{
      background-color: white;
      color:black;
  }
  tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  tbody tr:hover{
      background-color: var(--header-color);
      color:white;
  }
  caption{
    padding: 1em;
    caption-side: bottom;
  }
.cat_del{
    padding-left: 1.5em;
}
.cat_del:hover{
    color:red;
}
.cat_edit:hover{
    color:rgb(70, 210, 245);
}
.admin-cat-wrap{
    display: flex;
    justify-content: space-around;
}
#suggest_cat{
    border: 2px dashed var(--header-color);
    padding: 1em;
}
#suggest_cat div div{
    display: flex;
    justify-content: space-between;
}
#param_cat{
    width: 325px;
}
#param_cat section{
    border: 2px dashed var(--header-color);
    padding: 1em;
}

 /* The Modal (background) */
 .modal, .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    
}
.modal2{
    z-index: 2;
}
  /* Modal Content/Box */
  .modal-content, .modal-content2 {
    background-color: #fefefe;
    margin: 4em auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    border-radius: 7px;
  }
  .modal-content2{
      width: 30%;
  }
  /* The Close Button */
  .close, .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,.close:focus, .close2:hover, .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

/* Slick  */
  .slider {
    width: 92%;
    margin: 0 auto;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 30px;
}
.slick-list{
    /* height: 61px; */
    padding: 0.5em 0 0.75em 0;
}
/*
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
*/

.retour-wrap{
    max-width:518px;
    margin:auto;
}
input[type=radio] + label {
    padding:1em 1em 1em 0.25em;
}

/* Pagination */
.pagination{
    margin-top: 3em;
}
.current {
    background-color: var(--header-color);
    color: white;    
}
.page{
    color: var(--header-color);
}
.page a, .current{
    text-align: center;
    padding: 0.5em 0.75em;
    border:1px solid var(--header-color);
    font-weight: bold;    
}
.previous, .first, .next, .last {
    padding: 0 0.5em;
    
}


/* KnaCSS surcharge*/

.checkbox{
    vertical-align: top;
    margin-top: 0;
    width: 1em;
    height: 1em;
}

.flou{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    
    filter: blur(5px);
}

.error-wrap{
    display:flex;
    justify-content: space-between;
    max-width: 1617px;
    margin: auto;
    height: 100%;
}
.error-wrap h1{
    font-size: 7em;
}
.error-wrap div, .error-wrap figure{
    align-self: center;
}
.responsive_table{
    overflow-x:auto;
}