<div id="home_cat">
    <ul>
                <a href="{{ path('home') }}"><li>Tout voir</li></a>
        {% for cat in categories %}
            {% if cat.photos|length >= 1 %}
                <a href="{{ path('home_cat', {'id':cat.id}) }}"><li>{{ cat.intitule | capitalize }}</li></a>
            {% endif %}
        {% endfor %}
    </ul>
</div>