



<div id="home_cat">
    <div class="center slick slider">
        <div class="item_cat">
            <a href="{{path('home') }}">
                <div class="droit">
                    Tout voir
                </div>
            </a>
        </div>
{% for cat in categories %}
    {% if cat.photos|length >= 1 %}

        <div class="item_cat">

            <a href="{{ path('home_cat', {'cat_id' : cat.id}) }}">
                <div class="droit">
                    {{ cat.intitule | capitalize }}
                </div>
            </a>
        </div>
        
    {% endif %}
{% endfor %}
    </div>
</div>

