

{% include 'photo/ajaxShow.html.twig' %}

<div class="sticky">
    <h2>Êtes-vous sûre de vouloir supprimer cette photo ?</h2>  <p><a href="{{ path('delete_photo', {'id': photo.id } ) }}"><i class="fas fa-trash-alt fa-2x"></i> Supprimer</a></p>

</div>
