<h1 class="center">Signaler une photo</h1>

<div class="center">

<form action="">
    <p>
        <label for="motif">Motif du signalement</label>
        <select name="motif" id="motif" value="choisissez un motif">
        <option value="choq">Photo mal catégorisé</option>
        <option value="categ">Contenu choquant</option>
        <option value="auteur">Non respect du droit d'auteur</option>
        <option value="commentaire">Commentaire non respectueux</option>
        <option value="autre">Autre</option>
        </select>
    </p>
    <p>
        <label for="">Commentaires</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>  
    </p>
    <p>
        <input type="submit" value="Envoyer">
    </p>
</form>

</div>

// TODO : Ajax Report => espace Admin !

